.navbar-header {
    overflow: hidden;
    z-index: 10000000000;
    width: 100%;
    padding: 0;
}

.nav-title {
    justify-content: end;
    margin-right: 120px;
}

.nav-title a {
    margin-right: 10px;
    text-decoration: none;
    color: gray;
}

.navbar-brand {
    display: inline;
    margin-left: 10px;
}

.navbar-brand p {
    margin-top: 5px;
}

.navbar-brand img {
    float:left;
    margin-right: 5px;
}


.navbar-nav .select-page{
    color:  blue;
    text-decoration: underline;
}