header nav.navbar {
    background-color: #868f96;
    overflow: hidden;
    position: fixed;
    z-index: 10000000000;
    top: 0;
    width: 100%;
}
header nav.navbar .collapse {
    margin-right: 1.5rem;
    justify-content: end;
}

header nav.navbar .collapse li {
    padding: 0.5rem;
}

header nav.navbar .navbar-brand {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    margin-left: 15px;
}

header nav.navbar .navbar-brand b{
    margin-left: 5px;
}

div.banner div.col-auto button.btn-view-all {
    background-color: #868f96;
}

div.banner #carouselIndexIndicators {
    border: 0.5px solid #868f96;
}

div.banner #carouselIndexIndicators .carousel-control-prev,
div.banner #carouselIndexIndicators .carousel-control-next {
    width: 5%;
}

div.banner #carouselIndexIndicators .carousel-inner .carousel-item img {
    height: 27rem;
}