.link-item {
    text-decoration: none;
    color: black;
}

.card {
    margin-bottom: 10px;
}

.card-img {
    height: 200px;
    margin-bottom: 5px;
}

.card-title {
    font-size: 0.9rem;
    height: 50px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.card-title:hover {
    height: 50px;
    font-size: 0.7rem;
    overflow: visible; 
    white-space: normal; 
    width: auto;
    background-color:#FFF;
}



.card-body .card-text {
    font-size: 0.65rem;
}

.card-body hr{
    border: 1px solid gray;
    padding: 0;
}

hr {
    margin: 0;
}

.card-price span{
    text-decoration: line-through;
    font-size: 0.7rem;
    margin-right: 3px;
    margin-left: 10px;
}

.card-price {
    padding: 5px;
}

