.row-book-detail {
    border: 3px solid rgb(234, 226, 226);
}

.col-img {
    padding: 0;
}

.col-img img {
    height: 250px;
    width: 230px;
}

.col-img .col-span {
    padding-top: 5px;
    padding-bottom: 5px;
    float: right;
}