.container {
    padding: 0;
}

.row-book-detail {
    border: 3px solid rgb(234, 226, 226);
    margin-left: 0.5px;
    height: 400px;
    margin-bottom: 10px;
}

.col-img{
    padding: 0;
    display: inline;
    float:left;
    text-align: right;
}

.col-img p {
    padding-right: 15px;
    font-size: 0.9rem;
}

.col-img img {
    margin-right: 15px;
    height: 320px;
    width: 280px;
}

.col-content {
    margin: 10px;
}


