.order {
    border: 3px solid rgb(234, 226, 226);
}

.order hr {
    border: 1px solid rgb(234, 226, 226);
}

.order .order-price {
    padding-left: 15px;
    padding-top: 15px;
    background-color: rgb(208, 224, 224);
}

.order .order-price a {
    font-size: 1.8rem;
}

.order .order-price span {
    display: inline;
    font-size: 1.3rem;
    text-decoration: line-through;
}

.quantity {
    padding-top: 5px;
    text-align: center;
}

.quantity button{
    border: none;
    font-weight: 1.5rem;
    padding: 5px 20px 5px 20px;
    background: rgb(217, 226, 226);
}
.quantity span{
    padding: 6px 50px 6.5px 50px;
    background-color: rgb(217, 226, 226);
}

.order-quantity {
    margin-top: 50px;
}

.order-quantity a {
    margin-left: 60px;
}

.order .order-quantity a {
    padding-left: 10px;
}

.order .btn-add {
    border: none;
    color: black;
    padding: 6px 65px 7px 65px;
    margin-top: 30px;
    /* margin-left: 10px; */
    margin-bottom: 50px;
    background: rgb(217, 226, 226);
}

.order-add {
    text-align: center;
}