.btn-featured-books {
    text-align: center;
}

.wrapper-items {
    margin-top: 50px;
}

.row-card-items{
    padding: 10px;
}

.col-item {
    margin-bottom: 10px;
}

@media only screen and (max-width: 769px){
    .wrapper-items {
        margin-top: 100px;
    }
}