.img-product {
    padding: 10px;
}

.img-product {
    width: 120px;
    height: 160px;
    display: inline;
    float: left;
}

.content {
    display: inline;
    float: left;
    padding-left: 10px;
}

.link-item {
    text-decoration: none;
    color: black;
}