.img-product {
    padding: 10px;
}

.img-product {
    width: 120px;
    height: 160px;
    display: inline;
    float: left;
}

.link-item .content {
    float: left;
    padding-left: 10px;
}

.link-item .content h5 {
    margin-top: 0;
}

.link-item {
    text-decoration: none;
    color: black;
}

.link-item .content h5{
    margin-top: 60px;
    font-size: 0.9rem;
    overflow: hidden;
    white-space: nowrap;
    width: auto;
    text-overflow: ellipsis;
}

/* .link-item .content h5:hover{
    font-size: 0.7rem;
    overflow: visible; 
    white-space: normal; 
    width: auto;
    background-color:#FFF;
} */