.container .container-about {
    margin-top: 100px;
    margin-bottom: 100px;
}

.container .container-about .about-content{
    padding-left: 100px;
    padding-right: 100px;
}

.our-story-wrapper {
    text-align: justify;
    text-justify: inter-word;
}

.our-vision-wrapper {
    text-align: justify;
    text-justify: inter-word;
}