.wrapper-filter {
    border: 2px solid black;
    border-radius: 10px;
}

.btn-text {
    display: block;
}
.card-filter .card-body .card-text {
    padding: 10px;
    margin-top: 0;
    margin-bottom: 0;
}

.btn-text {

    border: none;
    background-color: white;
    color: black;
}

.btn-text:hover {
    background-color: white;
    color: blue;
}
.filter p {
    margin-left: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
}